
#form1 {
  display: flex;
  flex-flow: row, wrap;
  justify-content: space-around;

}

.form-group {
  /*border: 1px solid grey*/
}

.req{
  font-size: 18px;
}

.groupEnd {
 display: flex;
 flex-flow: column;
 align-items: flex-end;
}

.rowEnd {
  display: flex;
 flex-flow: row, wrap;
 justify-content: flex-end;
 align-items: flex-end;

}

input, select, button{
  margin: 5px
}

.formend {
  /*border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: grey*/
}

#wifirefresh{
  border-radius: 50%;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: blue;
}

svg {
  fill: blue;
}
