<div class="container">
  <div class="row">

    <div class="col-12">



      <form [formGroup]="networkForm" id="form1" >
        <div class="form-group col-6" >
        <h3>Ethernet Settings</h3>

        <div formGroupName="ethernetSettings" >
        <div class="">
          <input type="radio" formControlName="obtainIPAuto"  value='true' >
          <span>Use auto IP</span>
        </div>

        <div class="">
          <input type="radio" formControlName="obtainIPAuto"  value='false' >
          <span>Use manual IP</span>
        </div>


        <div class="" formGroupName="manualIpSettings">
          <div class="">
            <span>IP*</span>  <input type="text" formControlName="ip">
          </div>
          <div class="">
            <span>Subnet Mask*</span>  <input  formControlName="mask" type="text" name="" >
          </div>

          <div class="">
            <span>Gateway</span>  <input  formControlName="gateway" type="text" name="gateway" value="">
          </div>


        </div>

          <div class="">
              <input type="radio" formControlName="dnsAuto" value='true' > <span>Obtain DNS server automatically</span>
          </div>
          <div class="">
            <input type="radio" formControlName="dnsAuto" value='false' > <span>Use following DS server address</span>
          </div>



            <div class="" formGroupName="manualDnsSettings">
              <div class="">
                  <span>Preferred DNS server*</span>  <input type="text" formControlName="preferedDns" name="preferedDns" >
              </div>
              <div class="">
                  <span>Alternative DNS server</span>  <input  formControlName="alternativeDns" type="text" name="alternativeDns" >
              </div>


            </div>
        </div>
      </div>
      <div class="form-group col-6">
          <h3>Wireless Settings</h3>
      </div>








      </form>
      <button type="button" name="button" class="btn btn-primary">Save</button>
      <button type="button" name="button" class="btn btn-danger">Cancel</button>
      </div>

  </div>

</div>

<pre>{{ networkForm.value | json }}</pre>
<pre>{{networkForm.status | json}}</pre>
